.alert-box {
    padding: 15px 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    animation: fadeIn 0.5s;
    font-family: Arial, Helvetica, sans-serif !important;
    
    position: fixed;        /* Sayfada yer kaplamaz, üstte sabit durur */
    top: 20px;              /* Yukarıdan mesafe */
    left: 50%;              /* Ortalamak için */
    transform: translateX(-50%);
    
    z-index: 9999;
    pointer-events: none;   /* İçerikle etkileşimi engellemek istersen */
}

.alert-box.error {
    background-color: #ffdddd;
    border-left: 5px solid #e40000;
    color: #b30000;
}

.alert-box.success {
    background-color: #ddffdd;
    border-left: 5px solid #00b437;
    color: #006c23;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -10px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}
