* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-control {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: all 0.33s ease-in-out;
}

body {
    background-color: #000;
    color: grey;
}

.form-control input,
.form-control select {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    transition: all 0.33s ease-in-out;
}

form {
    width: 100%;
}

.left-div,
.right-div {
    min-width: 300px;
}

.form-control-button {
    display: flex;
    justify-content: space-between;
}

.form-control-button input,
.form-control-button button {
    padding: 10px;
    border-radius: 20px;
    background-color: #237bff;
    cursor: pointer;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 10px #363636;
}

.form-control-button input:hover,
button:hover {
    background-color: #5498ff;
}

.form-control input:focus,
.form-control select:focus {
    box-shadow: 0px 0px 7px rgba(35, 123, 255, 1);
    outline: 1px rgba(35, 123, 255, 1) solid;
}

.left-div h1 {
    color: #dedede;
}

.left-div {
    max-width: 30%;
}

button i {
    font-size: 15px;
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    #register {
        flex-direction: column;
    }
}

.yanyana{
    flex-direction: row !important;
    display: flex;
    margin:0px 20px 20px 0px;
    gap: 10px;
}

.yanyana input{
    cursor: pointer;
    width: 20px;
}